@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');


.cont{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;  

}



body {
    background-color: #e3e3e3;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;

}

.cont{
    text-align: center;
    font-size: 9pt;

}
h1{
    text-align: center;
}
.carousel {
    margin-top: 50px;
    margin-left: 40px;
    position: relative;
    width: 80%;
    max-width: 600px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.carousel img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.carousel img.active {
    opacity: 1;
}

p{
    text-align: center;
}

.linha{
   

}

.text{
    margin-top: 8%;
    border-top: solid 1px black;
    
}

footer{
    margin-top: 30%;
}


.heart {
    position: fixed;
    top: -10vh;
    color: red;
    font-size: 20px;
    animation: fall linear infinite;
    pointer-events: none;
}

@keyframes fall {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}
/* From Uiverse.io by adamgiebl */ 
button {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #FF0072;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #FF0072;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #FF0072;
    z-index: -1;
  }
  
  button:hover, button:focus {
    color: white;
  }
  
  button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  button:active {
    transform: scale(0.9);
  }
