
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

body{
    background-color: rgb(132, 13, 13);
}

.Titulo{
    padding: 25%;
    margin-left: 15px;
    margin-right: 13px;
    border: solid 1px black;
    background-image: url(Img/Para\ meu.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    
}

#buque{
    width: 130px;
    position: absolute;
    left: 69%;
    top: 19%;
}

#flork{
    width: 100px;
}
#snoopy{
    width: 280px;
}
#charlie{
    width: 180px;
}
#bela{
    width: 190px;
}
#cat{
    width: 210px;
}
#mic{
   width: 220px; 
}
#bul{
    width: 220px;
}
#eve{
    width: 220px;
}
#lucy{
    width: 200px;
}

.bloco2{
    margin-top: 10vh;
    padding: 25%;
    margin-left: 15px;
    margin-right: 13px;
    background-image: url(Img/bloco2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    
}
.bloco3{
    padding: 20%;
    margin-left: 15px;
    margin-right: 13px;
    background-image: url(Img/pq.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}
.text1{
    text-align: center;
    margin-left: 15px;
    margin-right: 13px;
    color: rgba(236, 236, 236, 0.989);
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
}

.text1 p {
    font-size: 25pt;

}

.text1 h1{
    font-size: 35pt;
}
#final{
    font-size: 35pt;
}

#perf{
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: red;
}
