
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body{
    background-color: rgb(132, 13, 13);
}

.Titulo{
    padding: 25%;
    margin-left: 15px;
    margin-right: 13px;
    border: solid 1px black;
    background-image: url(Img/Para\ meu.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    
}

#buque{
    width: 130px;
    position: absolute;
    left: 69%;
    top: 19%;
}

#flork{
    width: 100px;
}
#snoopy{
    width: 280px;
}
#charlie{
    width: 180px;
}
#bela{
    width: 190px;
}
#cat{
    width: 210px;
}
#mic{
   width: 220px; 
}
#bul{
    width: 220px;
}
#eve{
    width: 220px;
}
#lucy{
    width: 240px;
}

.bloco2{
    margin-top: 10vh;
    padding: 25%;
    margin-left: 15px;
    margin-right: 13px;
    background-image: url(Img/bloco2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    
}
.bloco3{
    padding: 20%;
    margin-left: 15px;
    margin-right: 13px;
    background-image: url(Img/pq.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}
.text1{
    text-align: center;
    margin-left: 15px;
    margin-right: 13px;
    color: rgba(236, 236, 236, 0.989);
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
}

.text1 p {
    font-size: 25pt;

}

.text1 h1{
    font-size: 35pt;
}
#final{
    font-size: 35pt;
}

#perf{
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: red;
}
.contadordeTempo{
    padding: 31%;
    padding-top: 5%;
}
button {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #FF0072;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #FF0072;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #FF0072;
    z-index: -1;
  }
  
  button:hover, button:focus {
    color: white;
  }
  
  button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  button:active {
    transform: scale(0.9);
  }

  iframe{
    margin-top: 10%;
  }
